<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
        
		<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
		<link href="@Url.Content("~/Content/kendo/2013.3.1119/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/kendo/2013.3.1119/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/kendo/2013.3.1119/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/kendo/2013.3.1119/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
	    <script src="@Url.Content("~/Scripts/kendo/2013.3.1119/jquery.min.js")"></script>
	    <script src="~/Scripts/home.js"></script>
        <script src="@Url.Content("~/Scripts/kendo/2013.3.1119/kendo.all.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/kendo/2013.3.1119/kendo.aspnetmvc.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
	<body >
		<header >
	       <div class="demo-section" >
              @(Html.Kendo().Menu()
                      .Name("menuSprites")
                      .Items(items =>
                      {
                          items.Add().Text("Գլխավոր")
                               .SpriteCssClasses("home").Action("Index", "Home");                                             
                          
                          items.Add().Text("Գրաֆիկ")
                               .SpriteCssClasses("schedule")
                               .Items(children =>
                               {
                                      children.Add().Text("Առարկաներ").Action("Index", "Lesson");
                                      children.Add().Text("Դասախոսներ").Action("Index", "Lecturer");
                                      children.Add().Text("Միասին").Action("Index", "Join");
                               });
                         items.Add().Text("Հաշվետվություն").Action("Index", "Report");
                         items.Add().Text("Մեր մասին").Action("Index", "About");
                               
                               
                      })
                )

            </div>

            <style scoped>
                .demo-section h3 {
                    font-weight: normal;
                    padding-bottom: 10px;
                }
                
            </style>
		</header>
		<div id="body">
			@RenderBody()
		</div>

		<footer>
			<div class="content-wrapper">
				<div class="float-left">
					<p>&copy; @DateTime.Now.Year - KMS Corporation</p>
                    <p>All Rights Reserved</p>
				</div>
			</div>
		</footer>
	</body>
</html>
